.docs__sidebar {
  padding: var(--clearance);
  position: sticky;
  top: 0;
  align-self: start;
  max-height: calc(100vh - var(--top-nav-height) - var(--clearance) * 2);
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidenav {
  h2 {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 0;
  }

  h3 {
    margin-top: 0;
    font-size: 14px;

    + ul {
      padding-block-end: 0;
      padding-inline-start: 20px;

      li {
        padding-block: 2px;
      }
    }
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    padding-block-end: 20px;
  }

  li {
    padding-block: 4px;
  }
}

.sidenav-list__item {
  .bi {
    font-size: 16px;
    position: relative;
    left: 8px;
  }
}

.sidenav-list__link--active {
  font-weight: 600;
  color: var(--secondary-color);
}
