@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');

:root {
  --font-color: hsl(0, 0%, 0%);
  --font-family: 'Noto Sans', system-ui;
  --font-size: 14px;
  --sidebar-width: 200px;
  --footer-height: 30px;
  --clearance: 30px;
  --bg-color: hsl(0, 0%, 95%);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: var(--font-size);
  background-color: var(--bg-color);
}

a {
  color: var(--font-color);
  text-underline-offset: 3px;
  display: inline-block;

  &:hover {
    background-color: hsl(0, 0%, 10%);
    color: white;
    text-decoration: none;
  }

  &:active {
    transform: translateY(1px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 30px;
}
