.container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: minmax(calc(100vh - var(--footer-height)), 1fr) var(--footer-height);
}

.main {
  padding: 30px;
}

.footer {
  padding: 0 30px;
  grid-column: 2;
  font-size: 14px;
  text-align: right;
}
