.sidebar {
  grid-row: span 2;
  padding: 30px 40px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
  display: block;
  margin-block-end: 40px;

  &:hover {
    text-decoration: none;
  }
}

.navHeading {
  font-size: 18px;
  font-weight: 600;
}

.navList {
  list-style: none;
  padding-inline-start: 20px;
  padding-block-end: 20px;
}

.navLi {
  padding-block: 6px;
}
