.layout__sidebar {
  grid-row: span 2;
  padding: 30px 40px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
  display: block;
  margin-bottom: 40px;
  color: var(--font-color);
  width: 100px;

  &:hover {
    background-color: revert;
    color: var(--font-color);
  }

  &:active {
    transform: scale(0.95);
  }
}

.sidenav {
  h2 {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    padding-block-end: 20px;
  }

  li {
    padding-block: 5px;
  }
}

.sidenav-list__item {
  .bi {
    font-size: 16px;
    position: relative;
    left: 8px;
  }
}

.sidenav-list__link--active {
  font-weight: 600;
  color: var(--secondary-color);
}
